@font-face {
  font-family: "asap";
  src: url("fonts/Asap.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/inter.ttf");
  font-style: normal;
  font-weight: bold;
}

body,
html {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

:root {

  /********************/
  /*Colors Dark Mode***/
  /********************/

  /**Primary Colors**/
  --dark-primary: hsl(154, 100%, 43%);
  --dark-primary-hover: hsl(154, 94%, 38%);

  /**Background Colors**/
  --dark-bg-primary: hsl(213, 92%, 7%);
  --dark-bg-secondary: hsl(211, 45%, 12%);
  --dark-bg-tertiary: hsl(240, 86%, 7%);
  --dark-bg-search: hsl(210, 9%, 30%);

  /**Text Colors**/
  --dark-text-primary: hsl(0, 0%, 100%);
  --dark-text-secondary: hsl(210, 27%, 83%);
  --dark-text-tertiary: hsl(154, 100%, 43%);

  /*Font Sizes */
  --fs-header: 5.5rem;
  --fs-h1: 4.5rem;
  --fs-h2: 3rem;
  --fs-h3: 2.5rem;
  --fs-h4: 2rem;
  --fs-h5: 1.5rem;
  --fs-paragraph: 1.125rem;

  /* Values */
  --border-radius-sm: 8px;
  --border-radius-default: 12px;
  --border-radius-full: 10000px;
  --gap: 16px;

  /* Shading */
  --box-shadow: 0 4px 16px -1px rgba(0, 0, 0, 0.1);

  --navbar-height: 8vh;
  --logo-size: 6vh;
  --hero-height: 92vh;
}

:root.light {
/********************/
/*Colors Light Mode**/
/********************/

/**Primary Colors**/
--light-primary: hsl(146, 68%, 75%);
--light-primary-hover: hsl(158, 100%, 38%);

/**Background Colors**/
--light-bg-primary: hsl(0, 0%, 100%);
--light-bg-secondary: hsl(210, 75%, 97%);
--light-bg-tertiary: hsl(0, 0%, 100%);
--light-bg-search: hsl(206, 18%, 75%);


/**Text Colors**/
--light-text-primary: hsl(213, 71%, 13%);
--light-text-secondary: hsl(214, 27%, 34%);
--light-text-tertiary: hsl(158, 100%, 38%);

  /*Font Sizes */
  --fs-header: 5.5rem;
  --fs-h1: 4.5rem;
  --fs-h2: 3rem;
  --fs-h3: 2.5rem;
  --fs-h4: 2rem;
  --fs-h5: 1.5rem;
  --fs-paragraph: 1.125rem;

  /* Values */
  --border-radius-sm: 8px;
  --border-radius-default: 12px;
  --border-radius-full: 10000px;
  --gap: 16px;

  /* Shading */
  --box-shadow: 0 4px 16px -1px rgba(0, 0, 0, 0.1);

  --navbar-height: 8vh;
  --logo-size: 6vh;
  --hero-height: 92vh;
}

/*Default Classes*/

/** position Classes **/
.relative {
  position: relative;
  overflow: hidden;
}

.absolute {
  position: absolute;
  overflow: hidden;
}

.mt {
  margin-top: 22px;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.b-0 {
  bottom: 0;
}

.z-negative-1 {
  z-index: -1;
}

.z-negative-2 {
  z-index: -2;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-100 {
  z-index: 100;
}

.px-4 {
  padding: 0 4vw;
}

.py-6 {
  padding: 6vh 0;
}

/** Debugging Classes **/
.db-borders {
  border: 2px solid green;
}

.db-red {
  background-color: rgb(253, 142, 142);
}

/** Flex Classes **/

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.jc-ai-center {
  justify-content: center;
  align-items: center;
}

.jc-start-ai-center {
  justify-content: start;
  align-items: center;
}

.jc-space-between-ai-center {
  justify-content: space-between;
  align-items: center;
}

.jc-space-between-ai-start {
  justify-content: space-between;
  align-items: start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.gap {
  gap: var(--gap);
}

.darkening-layer-secondary {
  background-color: rgba(0, 0, 0, 0.137);
}

html.light .darkening-layer-secondary{
  background-color: rgba(255, 255, 255, 0.589);
}

/**Font-Sizes**/

.header-title {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-header);
  font-weight: bold;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-h1);
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-h2);
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-h3);
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-h4);
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-h5);
}

p {
  font-family: "asap", sans-serif;
  font-size: var(--fs-paragraph);
}

label {
  font-size: 22px;
  font-family: "asap", sans-serif;
}

ul {
  font-family: "asap", sans-serif;
  font-size: var(--fs-paragraph);
}

ol {
  font-family: "asap", sans-serif;
  font-size: var(--fs-paragraph);
}

.bold-text {
  font-weight: bold;
}
.bold-sm-text {
  font-weight: 600;
}

.dark-heading {
  color: var(--dark-text-primary);
}

html.light .dark-heading{
  color: var(--light-text-primary);
}

.dark-subheading {
  color: var(--dark-text-primary);
}

html.light .dark-subheading{
  color: var(--light-text-primary);
}

.dark-bottomtext {
  color: var(--dark-text-secondary);
}

html.light .dark-bottomtext{
  color: var(--light-text-secondary);
}

.dark-highlight {
  color: var(--dark-primary);
}

html.light .dark-highlight{
  color: var(--light-primary);
}

.bg-secondary {
  background-color: var(--dark-bg-secondary);
}

html.light .bg-secondary{
  background-color: var(--light-bg-secondary);
}

.footer-bottom-container {
  background-color: #303947;
}

.text-shadow {
  text-shadow: 0 4px 20px rgba(0, 0, 0, 35%);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.br-default {
  border-radius: var(--border-radius-default);
}

footer {
  overflow: hidden;
  height: 60vh;
  background-color: var(--dark-bg-secondary);
}

html.light footer{
  overflow: hidden;
  height: 60vh;
  background-color: var(--light-bg-secondary);
}

/*Images*/
img {
  border-radius: var(--border-radius-default);
}

/** Value Classes **/
.no-spacing {
  margin: 0;
  padding: 0;
}

.full-size {
  height: 100vh;
  width: 100vw;
}

.full-size-percent {
  height: 100%;
  width: 100%;
}

.half-width {
  height: 100%;
  width: 50%;
}

.p-2vw {
  padding: 2vw;
}

/* Kleine Desktops */
@media (max-width: 1279px) {
  p {
    font-size: 17px;
  }

  .header-title {
    font-size: 3em;
  }

  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2.6em;
  }

  h3 {
    font-size: 2.4em;
  }
}

/* Tablets */
@media (max-width: 768px) {
  p {
    font-size: 16px;
  }

  .header-title {
    font-size: 2.2em;
  }
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }
}

/* Handys */
@media (max-width: 480px) {
  p {
    font-size: 15px;
  }

  .header-title {
    font-size: 2em;
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }
}

/* kleine Handys */

@media (max-width: 400px) {
  p {
    font-size: 15px;
  }

  .header-title {
    font-size: 1.6em;
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }
}
